*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right, #c04848, #480048);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.container{
    width: 450px;
    padding: 30px 25px;
    border-radius: 12px;
    background-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
}
.currency-generator{
    margin: 1.25rem 1.75rem;
}
.currency-generator .input-box{
    position: relative;
}
.input-box{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}
.input-box .input-label{
    font-size: 1.5rem;
}
.input-box input{
    width: 100%;
    height: 55px;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    padding: 0 1.05rem;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    border-radius: 10px;
}
.currency-convertor{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.currency-convertor .currency-input{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.currency-input label{
    font-size: 1.2rem;
}
.form-control{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    height: auto;
    box-sizing: border-box;
    cursor: pointer;
}
.form-control option{
    cursor: pointer;
}
.swap-currency{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.fa-exchange{
    font-size: 24px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.buttons .btn{
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 20px;
    background: #af0808;
    color: #fff;
    border: none;
    cursor: pointer;
}